@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
  
}


    <div>
        <h1>@ViewBag.SeriesTitle</h1>
        <h2>Issue #@ViewBag.IssueNumber</h2>
        <h5>Descprition:</h5>
        <div>@Html.Raw(ViewBag.Description)</div> @*Html.Raw  används för att escape:a htmltaggarna så att browsern tolkar information som en paragrap tagg*@
        @if (ViewBag.Artists.Length > 0)
        {
            <h5>Artists:</h5>
            <div>
                <ul>
                    @foreach (var artist in ViewBag.Artists)
                    {
                        <li>@artist</li>
                    }

                </ul>
            </div>
        }

    </div>

